@import"common";
// @import"theme";
$baseFont:80;
html {
    background-color: #d1e3fa;
}

.rotate {
    transform: translateY(-50%) rotate(180deg) !important;
}

.backgroudB {
    background-color: #2794f6;
}

.container {
    display: flex;
    width: 98%;
    height: 97%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 15px;
    overflow: hidden;
}

// 侧边栏
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #293042;
    border-radius: 15px;
    .sidebar_title {
        h1 {
            color: #fff;
            font-size: 26rem / $baseFont;
            text-align: center;
            height: 75rem / $baseFont;
            line-height: 75rem / $baseFont;
        }
    }
    .sidebar_container {
        flex: 1;
        overflow-y: auto;
        border-bottom-right-radius: 15px;
        dt {
            padding-left: 35rem / $baseFont;
            h5 {
                position: relative;
                font-size: 19rem / $baseFont;
                font-weight: 500;
                color: #ced4da;
                padding: 15rem / $baseFont 0;
                padding-left: 8px;
                user-select: none;
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                    right: 15px;
                    font-size: 10rem / $baseFont;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
        dd {
            display: block;
            background-color: #000c17;
            padding-left: 35rem / $baseFont;
            a {
                display: block;
                font-size: 18rem / $baseFont;
                color: hsla(0, 0%, 100%, .65);
                user-select: none;
                cursor: pointer;
                padding: 12rem / $baseFont 10rem / $baseFont;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                &:hover {
                    color: #fff;
                    background-color: #2794f6;
                }
            }
        }
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 5px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 2px;
            height: 2px;
            box-shadow: inset 0 0 5px rgba( 0, 0, 0, .1);
            background: #9497a0;
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            box-shadow: inset 0 0 5px rgba( 0, 0, 0, .1);
            border-radius: 10px;
        }
    }
}

// 主体内容
main {
    display: flex;
    flex-direction: column;
    flex: 4.5;
    height: 100%;
    background-color: #f6f8fb;
    border-radius: 15px;
    margin-left: 15px;
    overflow: hidden;
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90rem / $baseFont;
        background-color: #293042;
        padding: 0 35rem / $baseFont;
        h5 {
            color: #fff;
            font-size: 25rem / $baseFont;
            line-height: 90rem / $baseFont;
            cursor: progress;
        }
        .search {
            width: 50%;
            margin-right: 5rem / $baseFont;
            form {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                input {
                    height: 45rem / $baseFont;
                    width: 350rem / $baseFont;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border: 2px solid #30c9e8;
                    border-right-width: 0;
                    padding-left: 25rem / $baseFont;
                    color: #a3a3a3;
                    &:focus {
                        border-color: #2794f6;
                        color: #333;
                    }
                }
                button {
                    height: 45rem / $baseFont;
                    width: 100rem / $baseFont;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
    section {
        flex: 1;
        width: 100%;
        padding: 20rem / $baseFont;
        overflow-y: auto;
        position: relative;
        padding-top: 0;
        .main_items {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .main_item {
                width: 48%;
                height: 200px;
                background-color: #fff;
                margin: 1%;
                overflow: hidden;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
                .main_item_content {
                    display: flex;
                    height: 150px;
                    // logo
                    .main_item_content_logo {
                        position: relative;
                        width: 100rem / $baseFont;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 64px;
                            height: 64px;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    // 内容
                    .main_item_content_introduce {
                        flex: 1;
                        padding: 15rem / $baseFont;
                        height: 100%;
                        overflow: hidden;
                        h5 {
                            font-size: 25rem / $baseFont;
                            padding: 10rem / $baseFont 0;
                            color: #131415;
                            cursor: default;
                        }
                        div {
                            font-size: 18rem / $baseFont;
                            padding-top: 12rem / $baseFont;
                            color: rgba(0, 0, 0, .45);
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            overflow-wrap: break-word;
                            line-height: 1.5715;
                            span {
                                overflow-wrap: break-word;
                            }
                        }
                    }
                }
                .main_item_operation {
                    display: flex;
                    height: 50px;
                    border-top: 1px solid #f0f0f0;
                    li {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        position: relative;
                        a {
                            span {
                                display: block;
                                color: rgba(0, 0, 0, .45);
                            }
                        }
                        &:nth-child(1) {
                            border-right: 1px solid #f0f0f0;
                            span {
                                font-size: 22rem / $baseFont;
                            }
                        }
                        &:nth-child(2) {
                            span {
                                font-size: 23rem / $baseFont;
                            }
                        }
                        &:hover {
                            span {
                                color: #2794f6;
                            }
                        }
                    }
                }
                &:hover {
                    box-shadow: 8px 10px 10px rgba(0, 0, 0, .2);
                    transform: translate(-2px -2px);
                }
                &:nth-child(1) {
                    display: none;
                }
            }
        }
        &::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 5px;
            /*高宽分别对应横竖滚动条的尺寸*/
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            /*滚动条里面小方块*/
            border-radius: 2px;
            height: 2px;
            box-shadow: inset 0 0 5px rgba( 0, 0, 0, .1);
            background: #9497a0;
        }
        &::-webkit-scrollbar-track {
            /*滚动条里面轨道*/
            box-shadow: inset 0 0 5px rgba( 0, 0, 0, .1);
            border-radius: 10px;
        }
    }
}