<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hamster.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.hamster.pojo.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="nick" jdbcType="VARCHAR" property="nick" />
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl"/>
    </resultMap>

    <select id="sel" resultType="com.hamster.pojo.User">
        select * from user where id = #{id}
    </select>

    <select id="login" resultType="com.hamster.pojo.User">
        select * from user where userName = #{userName} and passWord = #{passWord}
    </select>

</mapper>