<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="仓鼠起始页,开始,起始页,主页,导航,蜗牛先生,个人网站">
    <meta name="description" content="由蜗牛先生开发、一个简洁美观实用的浏览器起始页。">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>仓鼠起始页</title>
    <link rel="shortcut icon" th:href="@{/common/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/index.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/common/fonts/iconfont.css}">
    <script th:src="@{/js/data.js}"></script>
    <script th:src="@{/common/js/jquery.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/common/js/indexSideList.js}"></script>
</head>

<body>
    <!-- 预加载画面 -->
    <div class="prestrain">
        <div></div>
    </div>
    <!-- 右侧内容 -->
    <div class="contentRight">
        <!-- 天气 -->
        <div class="weather">
        </div>
        <!-- 顶部阴影 -->
        <div class="shadow">
            <div class="shadowLeft"></div>
            <div class="shadowRight"></div>
        </div>
        <!-- 背景设置start -->
        <section class="bg">
            <div class="bgShade"></div>
            <div class="bgimg">
                <img th:src="@{/common/images/bg7.jpg}" alt="">
            </div>
        </section>
        <!-- 背景设置end -->

        <!-- 内容板块 start -->
        <div class="container">
            <!-- 导航栏板块 -->
            <nav class="nav">
                <div class="navR">
                    <div class="user_icon" title="个人中心" style="display: none;">
                        <i class="iconfont icon-icon-" id="user"></i>
                    </div>
                    <div class="setting_icon" title="设置">
                        <i class="iconfont icon-tianchongxing-"></i>
                    </div>
                    <div class="setting_list">
                        <div class="setting_list_content">
                            <p>使用偏好</p>
                            <p id="luminance">背景亮度</p>
                            <div class="luminance" style="display: none;">
                                <input type="range" name="points" min="1" max="10" value="8" />
                                <span><i>20</i>%</span>
                            </div>
                            <p id="setbg">背景爱好</p>
                            <p>捐赠我</p>

                        </div>
                    </div>
                </div>
            </nav>
            <section class="content">
                <!-- 时间模块 start -->
                <div class="time">
                    <span id="timeH">08</span>:<span id="timeM">00</span>
                </div>
                <!-- 时间模块 end -->

                <!-- 搜索模块 start -->
                <form class="search " action="http://www.baidu.com/baidu" target="_blank">
                    <input type='text' autocomplete="off" name='word' value="search">
                </form>
                <!-- 搜索模块 end -->
            </section>
            <!-- 背景切换 -->
            <div class="bg_list">
                <div class="bg_list_header">
                    <div class="navName">
                        <div class="logo">
                            <img th:src="@{/common/logo.png}" alt="">
                        </div>
                        <h1>仓鼠起始页</h1>
                    </div>
                    <div class="bg_list_close">
                        <i class="iconfont icon-guanbi"></i>
                    </div>

                </div>
                <div class="bg_list_Container">
                    <ul></ul>
                </div>
            </div>
        </div>
        <!-- 内容板块 end -->
        <!-- 推荐站点 start -->
        <div class="donate">
            <div class="donate_content">
                <ul>
                    <li>
                        <a href="https://www.bilibili.com/" target="_blank">
                            <div>
                                <img src="https://www.bilibili.com/favicon.ico" alt="">
                            </div>
                            <span>B 站</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://music.163.com/" target="_blank">
                            <div>
                                <img src="http://p3.music.126.net/tBTNafgjNnTL1KlZMt7lVA==/18885211718935735.jpg" alt="">
                            </div>
                            <span>网易云音乐</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://home.hamster-nav.cn/" target="_blank">
                            <div>
                                <img th:src="@{/common/logo.png}" alt="">
                            </div>
                            <span>仓鼠导航</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.zhihu.com/" target="_blank">
                            <div>
                                <img src="https://static.zhihu.com/heifetz/favicon.ico" alt="">
                            </div>
                            <span>知乎</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.cnblogs.com/" target="_blank">
                            <div>
                                <img src="https://636f-codenav-8grj8px727565176-1256524210.tcb.qcloud.la/img/1610940860862-bokeyuan.png" alt="">
                            </div>
                            <span>博客园</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://weibo.com/" target="_blank">
                            <div>
                                <img src="https://weibo.com/favicon.ico" alt="">
                            </div>
                            <span>微博</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://juejin.cn/" target="_blank">
                            <div>
                                <img src="https://b-gold-cdn.xitu.io/favicons/v2/favicon.ico" alt="">
                            </div>
                            <span>掘金</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.jianshu.com/" target="_blank">
                            <div>
                                <img th:src="@{/common/images/logo/jianshu.ico}" alt="">
                            </div>
                            <span>简书</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://pan.baidu.com/" target="_blank">
                            <div>
                                <img src="https://pan.baidu.com/static/images/favicon.ico">
                            </div>
                            <span>网盘</span>
                        </a>
                    </li>
                    <li>
                        <a href="/nav " target="_blank">
                            <div>
                                <span>+</span>
                            </div>
                            <span>更多</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- 推荐站点 end -->
    </div>
</body>

</html>